.button_container {
    position: relative;
}

.button_container.solo .hangouts_button {
    display: none;
}

.button_container.solo #jitsi_button {
    left: 0px;
}

#jitsi_button {
    position: relative;
    top: 2px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #0052CC;
    vertical-align: baseline;
    overflow: hidden;
    height: 30px;
    min-width: 60px;
    padding: 4px;
    padding-right: 6px !important;
    margin: 0px;
    line-height: 1.5em;
    outline: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#jitsi_button:hover {
    background: #0065ff;
}

#jitsi_button:active {
    -webkit-box-shadow: inset 0 0 1px #192d4f;
    -moz-box-shadow: inset 0 0 1px #192d4f;
    box-shadow: inset 0 0 1px #192d4f;
}

#jitsi_button a {
    display: block;
    line-height: 1.5em;
    text-decoration: none;
    background: transparent url('chrome-extension://__MSG_@@extension_id__/jitsi-logo-white-48x48.png') no-repeat;
    background-size: 20px 20px;
    text-indent: 20px;
    padding-left: 4px;
}

#jitsi_button,
#jitsi_button a:link,
#jitsi_button a:visited,
#jitsi_button a:hover {
    color: #FFF;
}

#jitsi_button.join,
#jitsi_button.join a:link,
#jitsi_button.join a:visited,
#jitsi_button.join a:hover {
    color: #505F79;
}

#jitsi_button.join a {
    background-image: url("chrome-extension://__MSG_@@extension_id__/jitsi-logo-48x48.png");
}

#jitsi_button.join {
    background: rgba(9, 30, 66, 0.08);
}

#jitsi_button.join:hover {
    background: rgba(9, 30, 66, 0.04);
}