.button_container {
    position: relative;
}

.button_container.solo .hangouts_button {
    display: none;
}

.button_container.solo #jitsi_button {
    left: 0px;
}

#jitsi_button {
    min-width: 60px;
}

#jitsi_button a {
    display: block;
    text-decoration: none;
    background: transparent url('chrome-extension://__MSG_@@extension_id__/jitsi-logo-white-48x48.png') no-repeat;
    background-size: 20px 20px;
    background-position: left;
    text-indent: 20px;
    padding-left: 4px;
}
