name: Check and Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: npm
      - run: npm ci
      - run: npm audit
      - run: npm run format:check
      - run: npm test
      - run: npm run build
      - name: Upload built outputs
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: ./dist
          if-no-files-found: error    
